nav {
display: flex;
background-color: beige;
position: sticky;
justify-content: center;
font-size: 25px;
padding: 25px;
}
nav a {
    margin-left: 50px; /* Adjust the value as per your requirement */
}

/* To prevent margin on the first link */
nav a:first-child {
    margin-left: 0;
}
h1 {
    font-size: 25px;
    margin: 25px;
    text-align: center;
    font-weight: 700;
}
img {
    height: 250px;
    width: 250px;
    margin: 25px;
}
p {
    margin: 20px;
    font-size: 20px;
    display: flex;
    position: relative;
    left: 275px;
    top: -300px;
}
h2 {
    font-size: 25px;
    margin: 25px;
    text-align: center;
    font-weight: 700;
}
footer {
    background-color: beige;
    font-size: 15px;
    padding: 25px;
    position: flex;
    text-align: center;
}
form{
    font-size: 20px;
    margin: 25px;
    padding: 25px;
    text-align: center;
}
